<div class="my-3 has-text-centered">
    <a href="rtmp://jb-vsn.secdn.net/jb-live/play/jblive.stream" target="_blank">[RTMP Stream]</a> | 
    <a href="rtsp://jb-vsn.secdn.net/jb-live/play/jblive.stream" target="_blank">[RTSP Stream]</a> | 
    <a href="https://jupiter-hls.secdn.net/jupiter-channel/play/jupiter.smil/playlist.m3u8" target="_blank">[HLS Stream]</a> | 
    <a href="https://www.youtube.com/c/JupiterBroadcasting/live" target="_blank">[Youtube Stream]</a> | 
    <a href="http://jblive.fm" target="_blank">[Radio Stream]</a> | 
    <a href="https://twitch.tv/jupiterbroadcasting" target="_blank">[Twitch Stream]</a><div>
</div>