<div class="twitch-wrapper">
  <div class="twitch">
    <div class="twitch-video">
      <iframe
        src="https://player.twitch.tv/?channel={{.Site.Params.twitch.channel}}&parent={{.Site.Params.twitch.parent}}&autoplay=false"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
        height="100%"
        width="100%">
      </iframe>
      <iframe title="jbive.tv Stream" src="https://jupiter.tube/videos/embed/dbec0720-5daa-4b1f-a4c1-553ad625d0f6?warningTitle=0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="560" height="315" frameborder="0"></iframe>
    </div>
  </div>
</div>
