[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "1.25.2"
pytest-metadata = "*"
pytest-xdist = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.10"
