# Hugo default output directory
/public
/public_subsites
/resources/_gen/
.hugo_build.lock
## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Editor
.idea
.vscode
.kateproject
.kateproject.local


# Ignore all the scraped data
scraped-data

#pytest
/test/.jbsite
/test/screenshots/
/test/.pytest_cache
/test/e2e/__pycache__/
/test/screenshots/
/screenshots/
.pytest_cache/
__pycache__
