baseURL = 'https://jupiterbroadcasting.net/'
languageCode = 'en-us'
title = 'Jupiter Broadcasting'

theme = 'jb'

paginate = 12

# Footer logo and menu title config
# footer menus are further down
[params.footer.logo]
  image = "/images/logo_small.png"
  text = "Jupiter Broadcasting"
  url = "/"
[params.footer.left]
  headline = "Left"
[params.footer.center]
  headline = "Center"
[params.footer.right]
  headline = "Right"


# Allow HTML in Markdown
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[taxonomies]
  tag = "tags"
  category = "categories"
  host = "hosts"
  guest = "guests"

# Main Menu
[[Menu.Main]]
    name = "Jupiter Broadcasting"
    identifier = "home"
    url = "/"
    weight =-100

[[Menu.Main]]
    name = "Shows"
    identifier = "shows"
    url = "/show"
    weight =-90

[[Menu.Main]]
    name = "Sponsors"
    identifier = "sponsors"
    url = "/sponsors"
    weight =40

[[Menu.Main]]
    name = "Boost!"
    identifier = "boost"
    url = "/boost"
    weight =50

[[Menu.Main]]
    name = "Garage Sale"
    identifier = "ext-garage-sale"
    url = "https://www.jupitergarage.com/"
    weight =60

[[Menu.Main]]
    name = "Membership"
    identifier = "membership"
    url = "/membership"
    weight =70

[[Menu.Main]]
    name = "Hosts"
    identifier = "hosts"
    url = "/hosts"
    weight =80

[[Menu.Main]]
    name = "Archive"
    identifier = "archive"
    url = "/archive"
    weight =90

# Footer Menu (left)
[[Menu.FooterLeft]]
    name = "left"
    identifier = "home"
    url = "/"
    weight =-100


# Footer Menu (center)
[[Menu.FooterCenter]]
    name = "center"
    identifier = "home"
    url = "/"
    weight =-100

# Footer Menu (right)
[[Menu.FooterRight]]
    name = "right"
    identifier = "home"
    url = "/"
    weight =-100

# Output formats

[outputFormats]
  [outputFormats.webplayer]
  mediatype ="application/json"
  baseName = "webplayer"

[outputs]
  page = ["json","html","webplayer"]
  section = ["html","rss"]
