@import "../libs/bulma/sass/utilities/mixins"

$tag-new-bg-color: $dark !default
$tag-new-color: $grey-lighter !default

.tag:not(body)
  background-color: $tag-new-bg-color
  &:hover,
  &:focus
    background-color: darken($tag-background-color, 70%)

.tags
  margin-top: 0.5rem
  .tag
    margin: 0.25rem !important
    a
      color: $tag-new-color 
