
.show-img {
 height: 168px !important;
 width: 300px !important
}

.show-card {
  display: flex;
}

.show-slider {
  margin-bottom: 2rem;
  display: block;
}

.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  color: white;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
 pointer-events: initial !important;
}
