
.show-img {
//  height: 170px !important;
//  width: 303px !important
}

.show-card {
  display: flex;
}

.show-slider {
  margin-bottom: 2rem;
  display: block;
  border-radius: 12px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 0;
  width: 50px;
  margin-top: 0;
  height: 100%;

  &.swiper-button-disabled:before {
    display: none;
  }
}
.swiper-button-prev {
  color: white;
  left: 0;

  &:before {
    content: '';
    background: linear-gradient(90deg, #333333dd, transparent);
    inset: 0;
    position: absolute;
    z-index: -1;
    opacity: .75;
    transition: opacity .5s ease-in-out;

  }
  &:hover:before {
    opacity: 1;
  }
}

.swiper-button-next {
  color: white;
  right: 0;

  &:before {
    content: '';
    background: linear-gradient(-90deg, #333333dd, transparent);
    inset: 0;
    position: absolute;
    z-index: -1;
    opacity: .75;
    transition: opacity .5s ease-in-out;

  }
  &:hover:before {
    opacity: 1;
  }
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
 pointer-events: initial !important;
}
