{{ define "main" }}

<h1 class="title is-size-2 pl-4">{{.Title}}</h1>
<div class="section">
  <h2 class="subtitle is-size-3">Network wide communications</h2>
  <div class="columns is-multiline">
    {{ range where .Pages "Params.comms_type" "network" }}
    <div class="column is-4 is-2-fullhd is-10-mobile">
      {{ partial "community/card.html" . }}
    </div>
    {{ end }}
  </div>
</div>

<div class="section">
  <h2 class="subtitle is-size-3">Show specific communications</h2>
  <div class="columns is-multiline">
    {{ range (where .Pages "Params.comms_type" "!=" "network").GroupByParam "comms_type" }}
      <div class="column is-12">
        <h3 class="is-size-4">{{ .Key }}</h3>
        <div class="columns is-multiline">
          {{ range .Pages }}
          <div class="column is-4 is-2-fullhd is-10-mobile">
            {{ partial "community/card.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>

{{ end }}
