
<footer class="footer">
  <div class="container">
      <div class="columns">
          <div class="column has-text-centered-mobile">
            <a href="{{ .Site.Params.footer.logo.url}}  " alt="{{ .Site.Params.footer.logo.text }}">
              <img src="{{ .Site.Params.footer.logo.image }}" alt="{{ .Site.Params.footer.logo.text }}" width="300" height="105"/>
            </a>
          </div>
          <div class="column has-text-centered-mobile">
            <h6 class="title is-6">{{ .Site.Params.footer.left.headline }}</h6>
            <ul>
              {{ range where site.RegularPages "Section" "community" }}
                  {{ $link := "" }}
                  {{ if .Params.direct_link }}
                    {{ $link = .Params.direct_link }}
                  {{ else }}
                    {{ $link = .Permalink }}
                  {{ end }}
                <li>
                  <a href="{{ $link }}" {{ if ne (urls.Parse .Site.BaseURL).Host (urls.Parse $link).Host }}target="_blank"{{ end }}>
                  {{ if ne .Params.comms_type "network" }} {{ .Params.comms_type }} {{ end }}{{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="column has-text-centered-mobile">
            <h6 class="title is-6">{{ .Site.Params.footer.center.headline }}</h6>
            <ul>
              {{ range .Site.Menus.footercenter }}
                <li>
                  <a href="{{ .URL }}" {{ if (hasPrefix .Identifier "ext-") }}target="_blank"{{ end }}>
                    {{ if (hasPrefix .Identifier "ext-icon") }}
                      <img src="/images/icons/{{ .Identifier }}.svg" alt="{{ .Name }}" width="30">
                    {{ else }}
                      {{ .Name }}
                    {{ end }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="column has-text-centered-mobile">
            <h6 class="title is-6">{{ .Site.Params.footer.right.headline }}</h6>
            <ul>
              {{ range .Site.Menus.footerright }}
                <li>
                  <a href="{{ .URL }}" {{ if (hasPrefix .Identifier "ext-") }}target="_blank"{{ end }}>
                    {{ if (hasPrefix .Identifier "ext-icon") }}
                      <img src="/images/icons/{{ .Identifier }}.svg" alt="{{ .Name }}" width="30">
                    {{ else }}
                      {{ .Name }}
                    {{ end }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>

      </div>
  </div>
  <div class="container">
      <div class="columns is-vcentered">
          <div class="column has-text-centered is-fullwidth">Our shows are licensed under Creative Commons BY-SA 4.0</div>
      </div>
  </div>
 </footer>

{{ $main := resources.Get "js/main.js" }}
{{ $navigation := resources.Get "js/navigation.js" }}
{{ $video := resources.Get "js/video.min.js" }}
{{ $swiper := resources.Get "js/swiper-bundle.min.js" }}
{{ $defaultJS := slice $swiper $navigation $video $main | resources.Concat "js/global.js" }}
{{ if hugo.IsProduction }}
  {{ $defaultJS = $defaultJS | resources.Minify | resources.Fingerprint }}
  {{ $plaus_analytics := resources.GetRemote site.Params.analytics | resources.Fingerprint }}
  {{ $current_domain := (urls.Parse .Site.BaseURL).Host }}
  <!-- <script defer data-domain="{{ $current_domain }}" src="{{ site.Params.analytics }}" integrity="{{ $plaus_analytics.Data.Integrity }}" crossorigin="anonymous"></script> -->
  <!-- FIXME: only for development purposes -->
  <script defer data-domain="{{ $current_domain }}" src="{{ site.Params.analytics }}"></script>
{{ end }}
<script src="{{ $defaultJS.Permalink }}" integrity="{{ $defaultJS.Data.Integrity }}"></script>