<header>
  <nav class="navbar is-fixed-top {{ if eq .Params.hashero false  }}gradient-home{{end}}" id="mainnavigation" role="navigation" aria-label="main navigation">
      <div class="container">
          <div class="navbar-brand">
            {{ range (where .Site.Menus.main "Identifier" "home")}}
                <a href="{{ .URL }}" class="navbar-item" aria-label="homepage">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            {{ end }}
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                 data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
              </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">

                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                      {{ $active = or $active (eq .Name $currentPage.Title) }}
                      {{ $active = or $active (and (eq (trim (path.Dir .URL) "/") $currentPage.Section) (ne $currentPage.Section "")) }}
                      {{ if eq .Identifier "shows" }}
                      <div class="navbar-item has-dropdown is-hoverable {{ if $active }}active{{ end }}">

                              <a href="{{ .URL }}" class="navbar-link">
                              {{ .Pre }}
                              <span>{{ .Name }}</span>
                          </a>

                          <div class="navbar-dropdown">
                              {{ range .Children }}
                              <a href="{{ .URL }}" class="navbar-item {{ if $active }}active{{ end }}">{{ .Name }}</a>
                              {{ end }}
                              <div class="navbar-dropdown {{ if $active }}active{{ end }}">
                                <div class="nested dropdown">
                                    <a class="navbar-link">
                                        <span class="icon-text">
                                            <span>
                                                RSS Feeds
                                            </span>
                                        </span>
                                    </a>
                                    <div id="rss-feeds-menu" class="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <a class="dropdown-item" href="{{ site.Params.feed.rss }}" class="navbar-item {{ if $active }}active{{ end }}">All Shows Feed - Audio</a>
                                            <a class="dropdown-item" href="{{ site.Params.feed.video_rss }}" class="navbar-item {{ if $active }}active{{ end }}">All Shows Feed - Video</a>
                                            <a class="dropdown-item" href="{{ site.Params.feed.jupiter_station }}" class="navbar-item {{ if $active }}active{{ end }}">Jupiter Station</a>
                                            {{ range .Children }}
                                                <a class="dropdown-item" href="{{ (site.GetPage (string .URL)).Params.links.shownotes.url }}/rss" class="navbar-item {{ if $active }}active{{ end }}">{{ .Name }}</a>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      {{ else if .HasChildren }}
                          <div class="navbar-item has-dropdown is-hoverable {{ if $active }}active{{ end }}">

                              <a href="{{ .URL }}" class="navbar-link">
                              {{ .Pre }}
                              <span>{{ .Name }}</span>
                          </a>

                          <div class="navbar-dropdown">
                              {{ range .Children }}
                                  <a href="{{ .URL }}" class="navbar-item {{ if $active }}active{{ end }}">{{ .Name }}</a>
                              {{ end }}
                          </div>
                      </div>
                      {{ else if eq .Identifier "community"}}
                          <div class="navbar-item has-dropdown is-hoverable {{ if $active }}active{{ end }}">

                              <a href="{{ .URL }}" class="navbar-link">
                              {{ .Pre }}
                              <span>{{ .Name }}</span>
                          </a>

                          <div class="navbar-dropdown">
                              {{ range where site.RegularPages "Section" "community" }}
                                  {{ $link := "" }}
                                  {{ if .Params.direct_link }}
                                    {{ $link = .Params.direct_link }}
                                  {{ else }}
                                    {{ $link = .Permalink }}
                                  {{ end }}
                                  <a href="{{ $link }}" class="navbar-item" {{ if ne (urls.Parse .Site.BaseURL).Host (urls.Parse $link).Host }}target="_blank"{{ end }}>
                                    {{ if ne .Params.comms_type "network" }} {{ .Params.comms_type }} {{ end }}{{ .Title }}
                                </a>
                              {{ end }}
                          </div>
                      </div>
                      {{ else if eq .Identifier "home"}}
                      <!-- do nothing, home is done as "navbar-brand" class above outside of "navbar-menu" -->
                      {{ else if eq .Identifier "live"}}
                          <a id="livebutton" href="{{ .URL }}" class="navbar-item {{ if $active }}active{{ end }}">
                              {{ .Pre }}
                              <span>{{ .Name }}</span>
                          </a>
                      {{ else }}
                          <a href="{{ .URL }}" {{ if (hasPrefix .Identifier "ext-") }}target="_blank"{{ end }} class="navbar-item {{ if $active }}active{{ end }}">
                              {{ .Pre }}
                              <span>{{ .Name }}</span>
                          </a>
                      {{ end }}
                  {{ end }}




              </div>

          </div>

      </div>
  </nav>
</header>
