@import "variables"
@import "libs/bulma/bulma"
@import "components"
@import "libs"
@import "elements"
@import "layout"
@import "helpers/_all"
#wrapper
  padding-top: 4rem
  flex-grow: 1

body
  display: flex
  flex-direction: column
  min-height: 100dvh
