{{ define "main" }}
  <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
        {{ $guest := index $.Site.Data.people $.Title }}
          <h2 class="title is-3">Guest - {{ $guest.name}}</h2>
          {{ partial "guests/horizontal.html" (dict "context" . "guest" $guest) }}
        </div>
        <div class="column is-one-thirds">
          <h2 class="title is-3">Shows with {{ $guest.name}}</h2>
          {{ $shows := slice }}
          {{ range $key, $taxonomy := .Site.Taxonomies.guests }}
           {{ if eq $key $.Title }}
              <div class="columns is-multiline">
                  {{ range $taxonomy.Pages }}
                   {{ if not (in $shows .Params.show_name) }}
                   <div class="column is-half">
                       <div class="card">
                          <div class="card-image">
                            <a href="{{ .Permalink}}">
                            <figure class="image is-fullwidth">
                              <img src="{{ .Params.header_image}}" alt="{{ .LinkTitle }} ">
                            </figure>
                            </a>
                          </div>
                        </div>
                        </div>
                   {{ $shows = $shows | append .Params.show_name }}
                   {{ end }}
                  {{ end }}
                  </div>
             {{ end }}
          {{ end }}


    </div>
  </div>

      <h1 class="title is-3">Latest Episodes with {{ $guest.name}}</h1>
        {{ range $key, $taxonomy := .Site.Taxonomies.guests }}
        {{ if eq $key $.Title }}
          <div class="columns is-multiline">
               {{ range $taxonomy.Pages }}
                {{ if ne  .Kind "section" }}
                  <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                      {{ partial "episode/preview.html" . }}
                  </div>
                {{ end }}
               {{ end }}
           </div>
          {{ end }}
            {{ end }}

  </div>
{{end}}
