{{ define "headcontent" }}

{{end}}
{{ define "main" }}
  <div class="container">
      <div class="content">
        <h1>{{.Title}}</h1>
        Subscribe To The Calendar: <a href="{{.Site.Params.calendar.rss}}">iCalendar</a>
        <iframe frameborder="0" scrolling="no" src="//www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{.Site.Params.calendar.embedd}}&amp;color=%235229A3" width="100%" height="400px"></iframe>
    </div>
  </div>
{{end}}
