{{ define "main" }}
<div class="container">
  <h1 class="title">{{.Title}}</h1>
</div>
<div class="container">
  <div class="columns">
    {{ if isset .Params "hosts" }}
      <div class="column is-half">
        {{.Content}}
        {{with .Params.links}}
            {{ partial "show/links.html" . }}
        {{end}}
      </div>
      <div class="column is-half">
        Your Hosts
        {{ range $index, $hostname := .Params.hosts }}
          {{ $host := index $.Site.Data.people $hostname }}
            <div>
              {{ partial "hosts/smallest.html" (dict "context" . "host" $host) }}
            </div>
        {{ end }}
      </div>
    {{else}}
        <div class="column is-full">
          {{.Content}}
        </div>
    {{end}}
  </div>
</div>

<section class="section episode-list">
  <div class="container">
     <div class="columns is-multiline">

        {{ range .Data.Pages }}
            {{ if eq  .Kind "section" }}
                {{ if eq .Params.active true }}
                  <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                      {{ partial "episode/show.html" . }}
                  </div>
                {{ end }}
            {{ end }}
        {{ end }}

        {{ $paginator := .Paginate (where .Pages "Type" "episode") 12 }}
        {{ range $paginator.Pages }}
        <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
          {{ partial "episode/preview.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="container">
          {{ partial "helper/pagination.html" . }}
    </div>
</section>

{{ end }}
