{{ define "main" }}

<div class="container">
  <h1 class="title">{{.Title}}</h1>
</div>

<div class="container">
  <div class="column is-full content">
    {{.Content}}
  </div>
</div>

{{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
{{ if or (eq $lastUrlElement "hosts") (eq $lastUrlElement "guests") }}
  <section class="{{ $lastUrlElement }}-list">
    <div class="container">
       <div class="columns is-multiline">
        {{ range ( where (where site.RegularPages "Section" "people") ".Type" ($lastUrlElement | singularize) )  }}
          <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
            {{ partial "people/small.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}

{{ end }}
