.live-container
  display: flex
  flex-direction: column
  align-items: center

.player-container
    margin: 20px 0
    width: 100%

.audio-player
    display: flex
    justify-content: center

.video-wrapper
    display: grid;
    aspect-ratio: 16 / 9;
    place-items: center;
    justify-content: center;
    grid-template-columns: 1fr;

.video-wrapper iframe
    width: 100%
    height: 100%
