<div class="card is-horizontal">
  <div class="columns">
    <div class="column is-one-third pr-0">
      <div class="card-image">
        <image class="image" src="{{.guest.avatar}}"></image>
      </div>
    </div>
    <div class="column is-two-thirds-tablet pl-0">
      <div class="card-stacked">
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4">{{ .guest.name}}</p>
            <p class="subtitle is-6">@{{ .guest.username}}</p>
          </div>

          <div class="content">{{ .guest.bio}}</div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item has-text-left">
            {{ if .guest.homepage }}
              <a href="{{ .guest.homepage }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-home" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .guest.twitter }}
              <a href="{{ .guest.twitter }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .guest.linkedin }}
              <a href="{{ .guest.linkedin }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .guest.instagram }}
              <a href="{{ .guest.instagram }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .guest.gplus }}
              <a href="{{ .guest.gplus }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .guest.youtube }}
              <a href="{{ .guest.youtube }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            {{ end }}
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
