{{ define "headcontent" }}
  <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
{{end}}

{{ define "main" }}
  <div class="container p-4">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{{ .Section | safeURL | absURL }}">Shows</a></li>
          <li><a href="{{ .Parent.Permalink }}">{{ .Params.show_name }}</a></li>
          <li class="is-active"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        </ul>
      </nav>
      <div class="content">
        <div class="columns">
          <div class="column is-8">
            <h1 style="display: inline">{{ .Title }}  </h1><h3 style="display: inline"><i>(Ep. {{.Params.episode}})</i></h3>
              <!--{{ if ne .Title (print .CurrentSection.Title " " .Params.episode) }} 
                | {{.Params.episode}} 
              {{ end }} 
            </h1> -->
            <h3> </h3>
            <h4>{{ .Date.Day }}  {{ .Date.Month }} {{ .Date.Year }} &nbsp; | &nbsp; <a href='{{ .Site.BaseURL }}show/{{.Params.Show_Slug}}'>{{ .CurrentSection.Title }}</a></h4>
            <!-- {{ partial "episode/videoplayer.html" . }} -->
            <br />
            <p>{{ .Description }} </p>
            <b>Direct Download: </b><a href="">MP3</a> | <a href="">Video</a> | <a href="">YouTube</a>
          </div>
          <div class="column is-4"><center>
              <a href="{{ .Permalink }}">
                <img src="{{.Params.header_image }}" width="auto" height="121" alt="{{.Title}}">
              </a><br />
            {{ partial "episode/support.html" . }}</center>
          </div>
        </div>
        {{ partial "episode/audioplayer.html" . }}

        
        {{ .Content }}

        {{ with .Params.tags }}
          <div class="tags">
            {{ partial "episode/tags.html" . }}
          </div>
        {{ end }}

        {{ .Description }}
        
        {{ partial "episode/podverseplayer.html" . }}

        {{ .Content }}


        <h2>Hosts</h2>

        <section class="section host-list">
          <div class="container">
             <div class="columns is-multiline">
              {{ range $index, $hostname := .Params.hosts }}
                {{ $host := index $.Site.Data.people $hostname }}
                  <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                    {{ partial "hosts/small.html" (dict "context" . "host" $host) }}
                  </div>
              {{ end }}
            </div>
          </div>
        </section>

        {{ with .Params.guests }}

          <h2>Guests</h2>

          <section class="section sponsor-list">
            <div class="container">
               <div class="columns is-multiline">
                {{ range $index, $guestname := . }}
                    {{ $guest := index $.Site.Data.people $guestname }}
                    <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                      {{ if $guest }}
                        {{ partial "guests/small.html" (dict "context" . "guest" $guest) }}
                      {{ end }}
                    </div>
                {{end}}
              </div>
            </div>
          </section>


        {{ end }}


      {{ with .Params.sponsors }}

        <h2>Sponsors</h2>

        <section class="section sponsor-list">
          <div class="container">
             <div class="columns is-multiline">
              {{ range $index, $sponsorname := . }}
                {{ $sponsor := index $.Site.Data.sponsors $sponsorname }}
                  <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                    {{ if $sponsor }}
                      {{ partial "sponsor/small.html" (dict "context" . "sponsor" $sponsor) }}
                    {{ end }}
                  </div>
              {{ end }}
            </div>
          </div>
        </section>


      {{ end }}


    </div>
  </div>
{{end}}
