<!--
  min-height: 20rem helps when logos are thin (i.e. discords),
  and allows the card not to collapse even though they don't
  take up that much space
-->
{{ $link := "" }}
{{ if .Params.direct_link }}
  {{ $link = .Params.direct_link }}
{{ else }}
  {{ $link = .Permalink }}
{{ end }}
<a href="{{ $link }}" {{ if ne (urls.Parse .Site.BaseURL).Host (urls.Parse $link).Host }}target="_blank"{{ end }} class="custom__is-fullheight" style="display: block; min-height: 20rem;">
  <div class="card is-flex is-flex-direction-column is-justify-content-center is-align-items-center is-fullheight custom__is-fullheight">
    <div class="card-image is-flex is-flex-direction-column is-justify-content-center is-align-items-center custom__is-fullwidth" style="flex: 1 0 33%;">
      <figure class="image is-four-fifths" style="width: 65%;">
        <img src="{{ .Params.logo }}" alt="{{ .Title | lower }} logo" class="is-centered custom__is-fullwidth py-2"
          >
      </figure>
    </div>
    <div>
      <div class="card-header">
        <h3 class="card-header-title is-centered">{{ .Title }}</h2>
      </div>
      <p class="card-content">
        {{ .Description }}
      </p>
    </div>
  </div>
</a>
