<!--
  min-height: 20rem helps when logos are thin (i.e. discords),
  and allows the card not to collapse even though they don't
  take up that much space
-->
{{ $link := "" }}
{{ if .Params.direct_link }}
  {{ $link = .Params.direct_link }}
{{ else }}
  {{ $link = .Permalink }}
{{ end }}
<a href="{{ $link }}"  {{ if ne (urls.Parse .Site.BaseURL).Host (urls.Parse $link).Host }}target="_blank"{{ end }}>
  <div class="card is-fullheight" style="height: 100%;">
    <div class="card-image is-flex is-flex-direction-column is-justify-content-center is-align-items-center" style="height: 250px;">

        <img src="{{ .Params.logo }}" alt="{{ .Title | lower }} logo" class="is-centered py-2" style="height: 175px; padding-left:75px; padding-right: 75px; margin-top:25px; width: 100%; object-fit: contain;">
    </div>
    <div>
      <div class="card-header">
        <h3 class="card-header-title is-centered">{{ .Title }}</h2>
      </div>
      <p class="card-content">
        {{ .Description }}
      </p>
    </div>
  </div>
</a>
