{{ define "main" }}
<section class="hero is-medium is-frontpage">
  <div class="hero-body">
    <div class="container">
      <img class="logo" src="/images/logo_narrow.png"/>
      <p class="subtitle has-text-centered">
        Home to the best shows on Linux, Open Source, Security, Privacy, Community, Development, and News.
      </p>
    </div>
  </div>
</section>


{{.Content}}

<section class="section">
  <div class="container">
    <h1 class="title">Shows</h1>

    <div class="swiper show-slider">
      <div class="swiper-wrapper">

       {{ range where .Site.Sections ".Title" "Shows" }}
          {{ range .Pages }}
            <div class="swiper-slide">
              <div class="card-image">
                <figure class="image">
                  <a href="{{ print .Permalink }}">
                    <img
                      src="{{ print .Params.header_image | absURL }}"
                      alt="{{ print .Title }}"
                      class="show-img"
                    />
                  </a>
                </figure>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>


  </div>
</section>

<section class="section episode-list">
  <div class="container">
    <h1 class="title">Latest Episodes</h1>
     <div class="columns is-multiline">
       {{ $paginator := .Paginate (where .Site.RegularPages "Type" "episode") 15 }}
       {{ range $paginator.Pages }}
            {{ if eq .Params.type "episode" }}
                <div class="column is-6 is-4-fullhd is-4-desktop is-12-mobile"  style="display: flex;">
                    {{ partial "episode/preview.html" . }}
                </div>
            {{ end }}
        {{ end }}

      </div>
    </div>
    <div class="container">
          {{ partial "helper/pagination.html" . }}
    </div>

</section>

{{ end }}

