<div class="card is-horizontal">
  <div class="columns">
    <div class="column is-one-third pr-0">
      <div class="card-image">
        <image class="image" src="{{.host.avatar}}"></image>
      </div>
    </div>
    <div class="column is-two-thirds-tablet pl-0">
      <div class="card-stacked">
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4">{{ .host.name}}</p>
            <p class="subtitle is-6">@{{ .host.username}}</p>
          </div>

          <div class="content">{{ .host.bio}}</div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item has-text-left">
            {{ if .host.homepage }}
              <a href="{{ .host.homepage }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-home" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .host.twitter }}
              <a href="{{ .host.twitter }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .host.linkedin }}
              <a href="{{ .host.linkedin }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .host.instagram }}
              <a href="{{ .host.instagram }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .host.gplus }}
              <a href="{{ .host.gplus }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            {{ end }}
            {{ if .host.youtube }}
              <a href="{{ .host.youtube }}" class="card-footer-item-social" target="_blank">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            {{ end }}
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
